<!-- Barra superior -->
{% load static %}
{% load i18n %}

<nav class="navbar navbar-expand navbar-light topbar mb-auto static-top shadow" style="background: linear-gradient(90deg, #00386C 0%, #1e68b0 50%, #00386C 100%);">
    <!-- Alternar barra lateral (barra superior) -->
    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
        <i class="fa fa-bars"></i>
    </button>

    <!-- Título Centralizado -->
    <div class="d-none d-md-block">
        <h5 class="mx-2 text-white m-0 text-xl text-uppercase"><b>{% trans "RotoAPI 4.0" %}</b></h5>
    </div>

    <!-- Topbar Navbar -->
    <ul class="navbar-nav ml-auto align-items-center">

        {% block translate %} {% include 'disp/include/translate.html' %} {% endblock translate %}

        <div class="topbar-divider d-none d-sm-block border border-warning"></div>

        <!-- Item de Navegação - Informações do Usuário -->
        <li class="nav-item dropdown no-arrow">
            <a class="nav-link dropdown-toggle text-white rounded" href="#" id="userDropdown" role="button" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">
                <img src="{% static 'img/user.svg' %}" class="h-7 w-7" alt="Loading">
            </a>

            <!-- Dropdown - Informações do usuário -->
            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{% url 'register' %}">
                    <i class="fa fa-plus-square mr-2 text-dark" aria-hidden="true"></i>
                    {% trans "Cadastrar Usuário" %}
                </a>

                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{% url 'password_reset' %}">
                    <i class="fa fa-key mr-2 text-dark" aria-hidden="true"></i>
                    {% trans "Esqueci minha senha" %}
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{% url 'password_change' %}">
                    <i class="fas fa-cog mr-2 text-dark"></i>
                    {% trans "Alterar senha" %}
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="" data-toggle="modal" data-target="#logoutModal">
                    <i class="fas fa-sign-out-alt mr-2 text-dark"></i>
                    {% trans "Sair" %}
                </a>
            </div>
        </li>
    </ul>
</nav>
<!-- Fim da barra superior -->
