{% extends 'disp/base.html' %}

{% load static %}
{% load i18n %}
{% block title %} Login {% endblock %}
{% block wrapper %}
      <!-- component -->
<link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
<div
	class="bg-blue-700
	    absolute top-0 left-0
	    bg-gradient-to-b
	    from-gray-800
	    via-blue-900
	    to-blue-600
	    bottom-0 leading-5 h-full w-full overflow-hidden">
</div>
<div
	class="relative   min-h-screen  sm:flex sm:flex-row  justify-center bg-transparent rounded-3xl shadow-xl">
	<div class="flex-col flex  self-center lg:px-14 sm:max-w-4xl xl:max-w-md  z-10">

		<div class="self-start hidden lg:flex flex-col  text-gray-300">
			<h1 class="my-3 font-semibold text-4xl">ROTO API 4.0</h1>
			<p class="pr-3 text-sm opacity-75">
                {% trans 'O objetivo da ROTOAPI4.0 é fornecer acesso aos dados de monitoramento das máquinas de rotomoldagem Rotoline' %},
                {% trans 'sendo possível incorporá-los aos sistemas de gestão,  proporcionando um controle inteligente e integrado para a sua indústria de rotomoldagem' %}
            </p>
		</div>

	</div>
	<div class="flex justify-center self-center z-10">
		<div class="p-12 bg-white mx-auto rounded-3xl w-96 border-bottom-primary border-left-primary">

			<div class="mb-7 row justify-content-center flex">
				<h3 class="font-semibold text-2xl my-4 text-gray-800">{% trans 'Bem Vindo!' %}</h3>
				<div>
					<h5 class="font-sans text-base text-gray-800">{% trans 'Insira nome do seu usuário' %}
						<i class='bx bx-chevrons-down mt-1 text-'></i>
					</h5>
				</div>
			</div>

            <form method="post" action="{% url 'validate_user' %}">
                {% csrf_token %}
				<div class="space-y-6">
					<div>
						<input class="w-full  text-sm  px-4 py-3 bg-gray-200 focus:bg-gray-100 border  border-gray-200 rounded-lg focus:outline-none focus:border-purple-400" type="text" placeholder="Usuário"
							id="{{ form.username.id_for_label }}" name="{{ form.username.name }}">
					</div>

					<div class="flex items-center justify-between">
						<div class="text-sm ml-auto">
							<a href="{% url 'password_reset' %}" class="text-purple-700 hover:text-purple-600">
								{% trans 'Esqueceu a senha?' %}
							</a>
						</div>
					</div>

					<div>
						<button type="submit" class="w-full flex justify-center bg-blue-800 hover:bg-blue-700 text-gray-100 p-3 rounded-lg tracking-wide font-semibold cursor-pointer transition ease-in duration-500">
							{% trans 'Próximo' %}
						</button>
					</div>

					<div class="row">
						<div class="col-auto">
							{% include 'disp/include/messages_login.html' %}
						</div>
					</div>

					<div class="flex items-center justify-center space-x-2 my-5">
						<span class="h-px w-16 bg-gray-100"></span>
						<span class="text-gray-300 font-normal"></span>
						<span class="h-px w-16 bg-gray-100"></span>
					</div>
					<div class="flex justify-center gap-5 w-full "></div>
					<div class="mt-7 text-center text-gray-600 text-xs">
						<span>Copyright © 2021-2023 <a href="https://rotoline.com" rel="" target="_blank" title="Codepen aji" class="text-purple-500 hover:text-purple-600 ">rotoline.com</a></span>
					</div>
				</div>
         </form>

		</div>
	</div>
	</div>

	<footer class="bg-transparent absolute w-full bottom-0 left-0 z-30">
	<div class="container p-5 mx-auto  flex items-center justify-between ">
		<div class="flex mr-auto">
			<a href="https://rotoline.com"
               target="_blank" title="codepen aji"
               class="text-center text-gray-700 focus:outline-none">
                <img src="{% static 'img/logo/logo_rotoline.svg' %}" alt="rotoline" class="object-cover mx-auto w-75 h-100">
                <p class="text-xl"></p> </a>
		</div>

	</div>
	</footer>

<svg class="absolute bottom-0 left-0 " xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#fff" fill-opacity="1" d="M0,0L40,42.7C80,85,160,171,240,197.3C320,224,400,192,480,154.7C560,117,640,75,720,74.7C800,75,880,117,960,154.7C1040,192,1120,224,1200,213.3C1280,203,1360,149,1400,122.7L1440,96L1440,320L1400,320C1360,320,1280,320,1200,320C1120,320,1040,320,960,320C880,320,800,320,720,320C640,320,560,320,480,320C400,320,320,320,240,320C160,320,80,320,40,320L0,320Z"></path></svg>
<script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.js"></script>
{% endblock wrapper %}