{% extends 'disp/base.html' %}
{% load static %}
{% load bootstrap %}
{% load i18n %}
{% block wrapper %}

{% block title %} Email Enviado {% endblock %}

{% block translate %}  {% include 'disp/include/translate.html'  %}   {% endblock translate %}
<div class="container">
    <!-- Outer Row -->
    <div class="row justify-content-center">
        <div class="col-xl-10 col-lg-12 col-md-9">
            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="text-center">
                                    <img src="{% static "img/rotoline3.png" %}" width="200" height="70" alt="My image">
                                </div>
                                <hr>
                                <div class="text-center">
                                    <p> {% trans 'Te enviamos um email com as instrucões de reset da sua senha, se uma conta com este email existir no nosso banco de dados.' %}
                                    </p>
                                    <p> {% trans 'Se você não tiver recebido um email, por favor cetifique-se de que você entrou com um email correto.' %}
                                    </p>
                                </div>
                                <hr>
                                <div class="text-center">
                                    <p>{% trans "Para acessar novamente, faça o login." %}</p>
                                    <p><a href="{% url 'login' %}">{% trans "Acessar novamente" %}</a></p>
                                </div>
                                <hr>
                                <div class="text-center">
                                    <br>
                                    <br> Rotoline
                                    <br>2022
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock wrapper %}
