{% extends 'disp/base.html' %}
{% load static %}
{% load bootstrap %}
{% load i18n %}

{% block title %} Password Confirm {% endblock %}

{% block wrapper %}
{% block translate %}  {% include 'disp/include/translate.html'  %}   {% endblock translate %}
<div class="container">
    <!-- Outer Row -->
    <div class="row justify-content-center">
        <div class="col-xl-10 col-lg-12 col-md-9">
            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="text-center">
                                    <img src="{% static "img/rotoline3.png" %}" width="200" height="70" alt="My image">
                                </div>
                                <hr>
                                <div class="form-group">
                                    {% if validlink %}
                                    <h3>{% trans 'Alterar senha' %}</h3>
                                    <hr>
                                    <form method="post">
                                        {% csrf_token %}
                                        {{ form|bootstrap }}
                                        <input type="submit" class="btn btn-success btn-user btn-block"
                                               value="Change password">
                                    </form>
                                    {% else %}
                                    <p>{% trans 'O link de redefinição de senha era inválido, possivelmente porque já foi usado.
                                        Solicite uma nova redefinição de senha.' %}
                                                                            </p>
                                    {% endif %}
                                </div>
                                <hr>
                                <div class="text-center">
                                    Rotoline
                                    <br>2022
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock wrapper %}
