{% extends 'disp/index.html' %}
{% load bootstrap %}
{% load i18n %}

{% block title %} Password Done {% endblock %}


{% block userlinks %}{% url 'django-admindocs-docroot' as docsroot %}{% if docsroot %}<a href="{{ docsroot }}">{% trans
    'Documentação' %}</a> / {% endif %}{% trans 'Alterar Minha Senha' %} / <a href="{% url 'admin:logout' %}">{% trans 'Log
    out' %}</a>{% endblock %}
{% block breadcrumbs %}
<div class="breadcrumbs text-white">
    <a href="{% url 'admin:index' %}">{% trans 'Admin' %}</a>
    &rsaquo; {% trans 'Alterar Minha Senha' %}
</div>
{% endblock %}
{% block conteudo %}
<div class="container">
    <table class="table table-head">
        <thead>
        <tr>
            {% block content_title %}<h1>{{ title }}</h1>{% endblock %}
        </tr>
        </thead>
    </table>
    <div class="">
        <div class="col-auto">
            <div class="card">
                <div class="card-body">
                    <p>{% trans 'Sua senha foi alterada.' %}</p>
                    <p>{% trans 'Você pode ir em frente e fazer' %} <a href="{% url 'login' %}">{% trans 'Login' %} </a>{% trans 'agora' %}.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock conteudo %}
