{% extends 'disp/index.html' %}
{% load bootstrap %}
{% load i18n %}

{% block title %} Password Change {% endblock %}

{% block conteudo %}

<div class="container text-dark">
    <table class="table table-head">
        <thead>
        <tr>
            <th><h2 class="text-dark">{% trans 'Alteração de senha' %}</h2></th>
        </tr>
        </thead>
    </table>
    <form action="" method="post">
        {% csrf_token %}
        {{ form|bootstrap }}
        <input type="submit" class="btn btn-success" value="{% trans 'Alterar' %}">
    </form>
</div>
{% endblock conteudo %}