{% extends 'disp/base.html' %}
{% load static %}
{% load bootstrap %}
{% load i18n %}

{% block title %} Password Reset {% endblock %}

{% block wrapper %}

<div class="container">
     <div class="row justify-content-center">
          <div class="col-xl-10 col-lg-12 col-md-1">
                {% block translate %}  {% include 'disp/include/translate.html'  %}   {% endblock translate %}
          </div>
     </div>
</div>
<div class="container">
    <!-- Outer Row -->
    <div class="row justify-content-center">
        <div class="col-xl-10 col-lg-12 col-md-9">
            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="text-center">
                                    <img src="{% static "img/rotoline3.png" %}" width="200" class="img-responsive" height="70" alt="My image">
                                </div>
                                <hr>
                                <div class="text-center text-dark">
                                    <p>{% trans 'Para receber um código de verificação, primeiro insira o endereço de e-mail que você adicionou quando criou seu usuário' %}
                                    </p>
                                </div>
                                <hr>
                                <div class="form-group text-dark">
                                    <form action="" method="post">
                                        {% csrf_token %}
                                        {{ form|bootstrap }}
                                        <input type="submit" class="btn btn-primary btn-user btn-block" value="Submit">
                                    </form>
                                </div>
                                <hr>
                                <div class="text-center">
                                    <a href="{% url 'home' %}">{% trans 'Voltar para tela inicial' %} </a>
                                    <br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock wrapper %}

